<section>
  
  <h2>League Format</h2>

  <ul>
    <li>For the first half of this season there are <strong>eight</strong> teams.</li>
    <li>This means there are no bye weeks, and each team will play seven games.</li>
    <li>The first round begins on 26 April and conclude 7 June. There will be two following weeks for any catch-up games required.</li>
    <li>At the end of the first round and catch-up session, there will be an all-league game.</li>
    <li>The second round will begin 5 July and run until 16 August.</li>
  </ul>
  
</section>