<section>
  
  <h2>League Format</h2>

  <ul>
    <li>As last year, there are nine teams. In the first round, each team will play every other team once.</li>
    <li>As there are an odd number of teams, one team will have one 'rest week' during the first round, where they have no fixture.</li>
    <li>The first round will begin April 13 and conclude June 8. There will be one week following for any catch-up games.</li>
    <li>At the end of the first round and catch-up session, there will be an all-league game.</li>
    <li>Round two will begin June 29 and run for a further nine weeks until August 24</li>
  </ul>
  
</section>