<section>
  
  <h2>League Format</h2>

  <ul>
    <li>For the first half of this season there are <strong>seven</strong> teams.</li>
    <li>This means each team will play six games, and will have one bye week.</li>
    <li>The first round begins on 10 May and concludes 21 June. There will be two following weeks for any catch-up games required.</li>
    <li>At the end of the first round and catch-up session, there will be an all-league game.</li>
    <li>The second round will begin 19 July and run until 30 August.</li>
  </ul>
  
</section>