<section>
  
  <h2><a id="League_Rules_0"></a>League Rules</h2>

  <p><strong>bold</strong> text is emphasis<br />
  <ins>italicised</ins> text is addition to 2015 rules<br />
  <del>strikethrough</del> text is deletion from 2015 rules</p>
  <ol>
    <li><a href="#Matchspecific_rules_and_etiquette_19">[Match-specific rules]</a></li>
    <li><a href="#Basic_Game_26">[Basic game]</a></li>
    <li><a href="#Play_Area_39">[Play area]</a></li>
    <li><a href="#Strikes_and_Balls_44">[Strikes and balls]</a></li>
    <li><a href="#Foul_Balls_52">[Foul balls]</a></li>
    <li><a href="#Running_the_bases_60">[Running the bases]</a></li>
    <li><a href="#Force_Plays_69">[Force plays]</a></li>
    <li><a href="#Tagging_78">[Tagging]</a></li>
    <li><a href="#Obstruction_82">[Obstruction]</a></li>
    <li><a href="#Overthrows_87">[Overthrows]</a></li>
  </ol>

  <h3><a id="Matchspecific_rules_and_etiquette_19"></a>Match-specific rules and etiquette</h3>
  <ol>
    <li>The captains will decide between themselves before the start of the game, whether any special rules should be enforced for that game. For example, hitting the ball into fenced-off areas of the park, number of innings, distance between bases etc.</li>
    <li>Where possible, there should be two umpires from the batting team. The first umpire will be behind home plate to call the pitching. The second umpire will be positioned outside the diamond to call plays on baserunning.</li>
    <li>The batting team should refrain from calling plays (eg foul balls) as this may confuse the batter/fielding team.</li>
    <li><ins>For safety, due to the small size of the diamonds, only soft training softballs should be used</em></li>
  </ol>

  <h3><a id="Basic_Game_26"></a>Basic Game</h3>
  <ol>
    <li>The minimum number of players allowed per team is 8. Teams turning up with only 7 players will forfeit the game. However, a team turning up with 8 players must still note the minimum number of women players rule.</li>
    <li>A team must have a minimum of 4 women (batting and fielding during each innings). 3 runs will be awarded to the opposition for each female fewer than four per inning.</li>
    <li>Length of games will be 4 innings to be agreed before start of play by the captains (dependent on weather). The minimum number of innings per game is 3.</li>
    <li>At the start of the game, captains should agree upon the order of their team line up. Each team bats in a pre-defined order with a new inning starting with the batter who was next to bat in the previous inning. Teams are to keep their order of batting throughout the game. Change of batting order is illegal.</li>
    <li>There will be no substitutions allowed to the batter order. Order of play is to be B-G-B or <del>G-B-G</del> B-B-G-B-B or B-B-G-G-B-G. <strong><ins>If a team has fewer than 3 girls, the girls must bat more than once in the lineup. i.e. the order shown must be maintained</ins></strong></li>
    <li>Substitutions for field play are allowed.</li>
    <li>An inning is over after three batters are out.</li>
    <li>No bunting allowed. A full swing must be taken by batters at each good pitch.</li>
    <li>An injured batter unable to run may have a runner of the same gender as the batter.</li>
    <li>Fielders may not enter the diamond until the ball has been struck.</li>
  </ol>

  <h3><a id="Play_Area_39"></a>Play Area</h3>
  <ol>
    <li>The pitching plate should be <ins>at least</ins> 50 feet away from the batter.</li>
    <li>Distance between each base to be a <strong><ins>minimum</ins></strong> of 45 feet. Compromise if you have to due to overcrowding.</li>
  </ol>

  <h3><a id="Strikes_and_Balls_44"></a>Strikes and Balls</h3>
  <ol>
    <li>Pitching is the slow-pitch version and therefore each pitch <strong>must arc above the head of the batter and ‘travel in an arc of 6 feet to 12 feet from the ground’.</strong> There will be no flat or fast pitching.</li>
    <li>A good pitch must pass between the height of the batter’s knee and shoulder as they stand at the home plate in a normal batting stance; it must pass across the home plate. The ball must arc above the head of the batter 6-12 feet off the ground as pitched. Fast, flat pitch is not allowed. Spin of the ball is allowed <del>in softball</del>. This league plays the slow pitch rules.</li>
    <li>A strike is either a result of a good pitch or a batter’s swing which misses or sends the ball into foul territory.</li>
    <li>A ball is called when the pitch is not ‘good’ (see bullet 2). If the pitcher hits the batter with the ball, then a ball is called. 4 balls called by the umpire allow the batter to walk to 1st base.</li>
    <li>Batters are out on the 3rd strike regardless if the ball is hit into foul territory. <del>If a batter is on two strikes and hits the ball foul, they remain on two strikes (ie they are not automatically out).</del></li>
  </ol>

  <h3><a id="Foul_Balls_52"></a>Foul Balls</h3>
  <ol>
    <li>A ball hit into the infield (fair territory) and then rolls foul before it reaches 1st or 3rd base is a foul. The standard rule is that a ball on the infield is foul if it stops or is first touched in foul territory - i.e. a ball can roll foul AND THEN ROLL FAIR AGAIN and still be a fair ball.</li>
    <li>A ball that lands beyond 1st and 3rd base in fair territory and then rolls out is still considered fair.</li>
    <li>If the ball is hit by the batter and goes behind home plate, it is a foul.</li>
    <li>If the ball is hit by the batter and makes contact with any part of the batter it is a foul.</li>
    <li><ins>If the ball is hit foul on two strikes or fewer and is caught, the batter is out <strong>only</strong> if the ball travels above the shoulder of the batter (i.e. if the ball just clips the bat and does not pop up, it is a foul and not an out</ins></li>
  </ol>

  <h3><a id="Running_the_bases_60"></a>Running the bases</h3>
  <ol>
    <li>Once the batter has hit the ball into fair territory, they must attempt to reach first base.</li>
    <li>Stealing bases or leading-off bases is not allowed. A baserunner must be no further towards the base they are running to, than their current base, before the ball is hit. They can advance to the next base if a batter hits the ball or receives a walk.</li>
    <li>At first base, there will be an additional mat adjacent to first base on the foul side, the same distance from home plate, for which runners should aim.</li>
    <li>Batters can overrun the 1st base - i.e. not stop dead on 1st base. However, if they run past 1st base and head left towards 2nd base then they you can be thrown out at 2nd base if they were more than halfway towards that base when is is tagged.</li>
    <li>There should be no sliding into any base.</li>
    <li>Baserunners should avoid running directly at fielders, particularly when trying to reach a base.</li>
  </ol>

  <h3><a id="Force_Plays_69"></a>Force Plays</h3>
  <ol>
    <li>On a ball hit into fair territory, baserunners must attempt to reach the next base if all bases behind them are occupied_._</li>
    <li>If the umpire calls a walk, the batter walks to 1st base and forces all baserunners to move forward one base. However, there is no force for a baserunner to advance if the base behind them is unoccupied.</li>
    <li>On a force play, a baserunner will be out if their next base is tagged with the ball before they reach it.</li>
    <li>When there is no force, A baserunner may elect to advance, but they will be out if they are <strong>more than halfway towards a base when that base is tagged by a fielder</strong>.</li>
    <li>If the ball is caught in fair territory the force is removed. Baserunners must return to the base <ins>(‘tag-up’)</ins> they were at when the ball was pitched, and will be out if that base is tagged before they return</li>
    <li><strong><ins>Once a baserunner has tagged up, they cannot then advance.</ins></strong></li>
  </ol>

  <h3><a id="Tagging_78"></a>Tagging</h3>
  <ol>
    <li>There will be no tagging the runner with the ball to make them out. A fielder must be in contact with the base and ball to make the opponent out at that base. Note that this is unique to our league and not played elsewhere.</li>
  </ol>

  <h3><a id="Obstruction_82"></a>Obstruction</h3>
  <ol>
    <li>Base Fielders should not obstruct baserunners by standing directly on the base. The fielder should stand away from the base until they need to tag the base to force a runner out. The fielder should touch the edge of the base and not obstruct the baserunner</li>
    <li>Obstructing a baserunner may lead to the umpire awarding that runner an additional base</li>
  </ol>

  <h3><a id="Overthrows_87"></a>Overthrows</h3>
  <ol>
    <li>When a ball is overthrown into the foul area, baserunners may advance to the base for which they were <del>aiming</del> heading <strong><ins>at the time the ball enters foul territory</ins></strong>.</li>
    <li><del>If the baserunner was more than halfway towards that base they can elect to attempt the next base (but at the risk of being tagged out)</del></li>
  </ol>  

</section>