<section>
  
  <h2>Week {{ week }}</h2>
  <table>
    <caption>Fixtures</caption>
    <thead>
      <tr>
        <td>&nbsp;</td>
        <td>Score</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {{#each matches }}
      <tr class="{{ cls }}">
        <td><a href="/teams/{{ [TeamA.id] }}">{{ [TeamA.name] }}</a></td>
        <td>{{ score }}</td>
        <td><a href="/teams/{{ [TeamB.id] }}">{{ [TeamB.name] }}</a></td>
      </tr>
      {{/each }}
    </tbody>
  </table>
  
</section>
